@using Microsoft.AspNetCore.Identity
@model MyForum.ViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = "Зміна ролі";
    Layout = null;
}

<br />
<h4><b>Зміна ролі для користувача @Model.UserEmail</b></h4>

<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>

<a asp-controller="Users" asp-action="Index" class="btn btn-sm btn-light">Повернутися до списку</a>