@model IEnumerable<MyForum.Data.User>
@{
    ViewBag.Title = "Список пользователей";
}

@if (User.IsInRole("admin"))
{
    <a asp-action="Create" class ="btn btn-secondary btn-dark">Добавить пользователя</a>
}

<table class="table">
    <tr><th>Email</th><th>Ім'я</th><th>Фамілія</th><th>Дата народження</th></tr>
    @foreach (var user in Model)
    {
<tr>
    <td>@user.Email</td>
    <td>@user.FirstName</td>
    <td>@user.SecondName</td>
    <td>@user.BirthDate</td>
    @if (User.IsInRole("admin")) { 
        <td>

            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                <a class="btn btn-secondary btn-dark" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                <a class="btn btn-secondary btn-dark" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                <button type="submit" class="btn btn-secondary btn-danger">
                    Удалить
                </button>
            </form>
        </td>
    }
</tr>
    }
</table>